.comment {
    margin-bottom: 2em;
}

.comment-name {
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
}

.comment-time {
    color: #999;
    font-size: 0.8em;
}

.comment-content {
    margin: 1em;
}

.comment-links {
    color: #999;
}

.comment-form textarea {
    width: 600px;
    margin: 0;
    padding: 0;
}

.comment-form input[type=text] {
    width: 100%;
    margin: 0;
    padding: 0;
}

.short-field {
    display: inline-block;
    width: 291px;
}

.short-field:first-of-type {
    padding-right: 16px;
}
