.comment {
    margin-bottom: 2em;
}

.comment-name {
    font-weight: bold;
    text-decoration: none;
}

.comment-time {
    color: #999;
    font-size: 0.8em;
    padding-left: 2em;
}

.comment-content {
    margin: 0.5em 0;
}

.comment-links {
    color: #999;
}
