/**
 * Site specific colors
 */
@siteMainColor:         #740927;
@siteAccentColor:       #CCAC00;

/**
* Site specific multipliers to use for scaling
*/
@sizeVerySmall:     2;
@sizeSmall:         3;
@sizeMedium:        4;
@sizeNormal:        5;

/**
* Layout for header
*/
#header {
    .column(@columns);
    background-color: @siteMainColor;
    color: @siteAccentColor;
    padding: @magicNumber 0;
}

#sitelogo {
    .column(@columns / 6);
    .font-size(@sizeNormal * 1em);
}

#sitetitle {
    .column(@columns / 6 * 5);
    .font-size(@fontSizeSiteTitle);
}

#siteslogan {
    .column(@columns / 6 * 5);
    font-style: italic;
}

 /**
  * Layout for main
  */
#flash {
    background-color: @siteAccentColor;
    padding: @magicNumber;
}

#main {
    min-height: 20em;
}

/**
 * Layout for footer
 */
#footer {
    background-color: @siteMainColor;
    color: @siteAccentColor;
    border-top: 2px solid @siteAccentColor;
    padding: @magicNumber 0;
}
