/**
 * Layout of the main page elements
 */

#wrapper {
    // background: url(grid_12_60_20.png) center -7px  repeat-y;
    // overflow: hidden;
    margin: 0 auto;
    padding: 10px 0;
    max-width: 960px;
}

/**
 * Layout for header
 */
#header {
  position: relative;
}

.sitetitle {
  position: absolute;
  top: 6px;
  left: 130px;
  font-size: 48px;
}

.siteslogan {
  position: absolute;
  top: 65px;
  left: 130px;
  font-style: italic;
  color: #666;
}


/**
 * Layout for main
 */
#main {
  min-height: 20em;
}


/**
 * Layout for footer
 */
#footer {
  margin-top: 40px;
  border-top: 1px solid #ccc;
  padding-top: 22px;
}

.sitefooter {
  color: #666;
}


/**
 * For articles
 */
.article1 {
  border-right: 1px solid #ccc;
}

.article1 h1,
.article1 h2 {
  border-bottom: 1px solid #ccc;
}

.byline {
  margin-top: 44px;
  border-top: 1px dashed #ccc;
  padding-top: 22px;
  color: #666;
}

.byline p {
  margin-top: 0;
}

/*
 * Layout regions
 */

#wrap-featured,
#wrap-main,
#wrap-triptych,
#wrap-footer-col {
    .clearfix();
}

//
// Full width regions
//
#header,
#navbar,
#flash,
#footer {
    .column(@columns);
    margin-bottom: 22px;
}

//
// Main and sidebar
//
#main {
    .column(@columns / 3 * 2);
    margin-bottom: 22px;
}

#sidebar {
    .column(@columns / 3);
    margin-bottom: 22px;
}

//
// Featured and triptych is 1/3 of the screen by default
//
#featured-1,
#featured-2,
#featured-3,
#triptych-1,
#triptych-2,
#triptych-3 {
    .column(@columns / 3);
    margin-bottom: 22px;
}

//
// Footer had four subsections
//
#footer-col-1,
#footer-col-2,
#footer-col-3,
#footer-col-4 {
    .column(@columns / 4);
    margin-bottom: 22px;
}
