
#wrapper {
    margin: 0 auto;
    max-width: 960px;
}

/*
 * Layout regions
 */
#wrap-header,
#wrap-featured,
#wrap-main,
#wrap-triptych {
    .clearfix();
}

//
// Full width regions
//
#navbar {
    margin-bottom: @magicNumber;
}

#flash {
    .font-size(@fontSizeH4);
    margin-bottom: @magicNumber;
}

#footer {
    .column(@columns);
}

//
// Main and sidebar
//
#main {
    .column(@columns / 3 * 2);
    margin-bottom: @magicNumber;
}

#sidebar {
    .column(@columns / 3);
    margin-bottom: @magicNumber;
}

//
// Featured and triptych is 1/3 of the screen by default
//
#featured-1,
#featured-2,
#featured-3,
#triptych-1,
#triptych-2,
#triptych-3 {
    .column(@columns / 3);
    margin-bottom: @magicNumber;
}
